/* 폰트 */

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 옵티크
font-family: optique-display, sans-serif;
font-style: normal;
font-weight: 400; */

.sheet-maple,
.sheet-state_input {
    font-family: 'MaplestoryOTFBold', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
    /* text-stroke: 1px black; */
}

.sheet-maple_font12{
    font-family: 'MaplestoryOTFBold', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    -webkit-text-stroke: 1px black;
    /* text-stroke: 1px black; */
}

.sheet-arvo {
    font-family: 'Arvo';
    font-size: 18px;
}

.sheet-inline-block{
    display: inline-block;
}

.sheet-font26{
    font-size: 26px;
}

.sheet-inline {
    display: inline;
}

.text-center {
    text-align: center;
}

.sheet-width80 {
    width: 80px;
}

.sheet-width150 {
    width: 150px;
}

.sheet-width200 {
    width: 200px;
}

.sheet-width380 {
    width: 380px;
    height: 55px;
}

.sheet-margin15 {
    margin: 15px;
}

.sheet-margin_top10 {
    margin-top: 10px;
}

.sheet-margin_top40 {
    margin-top: 40px;
}

.sheet-margin_left10{
    margin-left: 10px;
}

.sheet-margin_left15{
    margin-left: 15px;
}

.sheet-margin_left30{
    margin-left: 30px;
}

.sheet-margin_left55{
    margin-left: 50px;
}

.sheet-margin_left80{
    margin-left: 80px;
}

.sheet-margin_right10{
    margin-right: 10px;
}

.sheet-margin_right30{
    margin-right: 30px;
}

h4{
    margin-bottom: -5px;
}


/****************************************************
	Header
****************************************************/


.sheet-diamond {
    width: 70px;
    height: 70px;
    background-color: #666666;
    transform: rotate(45deg);
    margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 160px;
}


.sheet-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    height: 25px;
    position: relative;
    text-align: center;

    &:focus {
        outline: none;
    }
}
.sheet-input::-webkit-outer-spin-button,
.sheet-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sheet-input[type='number'] {
  -moz-appearance: textfield;
}


.sheet-input::-webkit-input-placeholder {
    color: #AAA;
}

.sheet-input:focus::-webkit-input-placeholder {
    color: #AAA;
}


.sheet-wrap {
    display: block;
    /* position: relative; */
    width: 850px;
    min-height: 1300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
    font-family: 'Malgun Gothic';
    line-height: 1.2;
    box-sizing: border-box;
    background-repeat: no-repeat, no-repeat, repeat;
    /* background: #e9e8e3; */
    /* background-position: 567px 580px, 0px 240px, center top; */
}

.sheet-wrap::before {
    
    content: "";
    background: url(https://i.imgur.com/eg4cOm2.png);
    background-size: contain;
    background-color: #e9e8e3;
    opacity: 0.2;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}

.sheet-info-kind,
.sheet-info-kind-img {
    margin-left: 80px;
}

.sheet-info-kind-img>img {
    width: 180px;
    height: 250px;
    background: #c5c1bb;
    margin-top: 75px;
    margin-left: 25px;
    object-fit: cover;
}

.sheet-header {
    display: flex;
}

.sheet-header-inner-one {
    width: 350px;
}

.sheet-header_inner_two {
    margin-top: 60px;
}

/* 스위치 */
.sheet-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
}

.sheet-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sheet-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sheet-slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #888888;
}

input:focus+.slider {
    box-shadow: 0 0 1px #888888;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.sheet-slider.round {
    border-radius: 50px;
}

.sheet-slider.round:before {
    border-radius: 50%;
}

/* 다이스 */
.sheet-container {
    font-family: Arial, sans-serif;
    background: #e0e0e0;
    display: inline-block;
    border-radius: 20px;
}

.sheet-label {
    color: #333;
}

.sheet-dice_input {
    font-size: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 4px 8px;
    width: 40px;
    text-align: center;

    background-color: transparent;
    position: relative;
    text-align: center;

}

/* 스테이터스 */
.sheet-sheet-level{
    margin-top: -10px;
    margin-left: 10px;
}
.sheet-level_input {
    font-family: 'MaplestoryOTFBold', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    -webkit-text-stroke: 1px black;

    background-color: transparent;
    border: none;
    box-sizing: border-box;
    position: relative; 
    width: 30px;
    text-align: center;
    
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}


.sheet-state_input {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    width: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-right: 30px; */

    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

.sheet-sheet-status{
    margin-left: 10px;
    margin-top: 30px;
}

.sheet-sheet-group{
    margin: 10px;
    margin-bottom: 20px;
    
}

.sheet-gradient-box{
    display: -webkit-inline-box;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(132, 132, 132) 10%, rgb(132, 132, 132) 20%, rgba(255, 255, 255, 0) 100%);
    
}

/* 시작 특성 */

.sheet-start-state {
    display: flex;
    justify-content: space-between;
}


/****************************************************
	Section1 : 
****************************************************/





/****************************************************
	Section2 : 
****************************************************/

.sheet-weapon, .sheet-armor, .sheet-shield{
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

.sheet-active {
    background-color: gray;
  }


/****************************************************
	Section3 : 
****************************************************/

#section3 {
    display: flex;
    justify-content: space-between;
}